

canvas {
	width: 30%;
	height: 30%;
	margin: 0px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #F5F5F5;
	background-image: url("site_background.png");
    	background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-size: cover;
    	background-position: 100% 100%;

}



